<!doctype html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body {
  margin: 0;
  font-family: "Josefin Sans";
}
table {
  border-color: #0000FF;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<div style="padding-left:16px">
</div>

</body>
   <body>
   <h1>{{ cc }}</h1>
    <table border=3 cellpadding=15 cellspacing=10>
	  </tr>
	  
	  <tr>
	<td>
      <table border=0 cellpadding=10 cellspacing=8>
         <thead>
         </thead>
		<form action="{{ url_for('admin_authentication') }}" method="POST">
      
            <tr>
               <td>Email: </td>
               <td> <input type="text" name="email"><br> </td>

            </tr>
			
			<thead>
         </thead>
         
            <tr>
			
			   <td>Password: </td>
               <td> <input type="password" name="password"><br> </td>

            </tr>
			

      </table>
	          <input type="submit" value="Log In">
			  	  <div id = "iferroroccured"></div>
	  {% if error %}  
        <p style="color:red;"><strong>Error</strong>: {{error}}</p>  
	{% endif %}  
		</form> 
	 
	  </td>
	  </tr>
	  

	  </table>
	  
	  

   </body>
</html>